@{
    var displayName = User.FindFirst("name")?.Value;
    if (string.IsNullOrWhiteSpace(displayName))
    {
        displayName = $"{User.FindFirst("given_name")?.Value} {User.FindFirst("family_name")?.Value}";
    }
    if (string.IsNullOrWhiteSpace(displayName))
    {
        displayName = User.FindFirst("preferred_username")?.Value;
    }
}

@if (User.Identity?.IsAuthenticated == true)
{
    <ul class="navbar-nav">
        <li class="navbar-text">
            Hello, @displayName
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-controller="Auth" asp-action="Logout" method="post">
                @Html.AntiForgeryToken()
                <button type="submit" class="nav-link btn btn-link text-dark">Log off</button>
            </form>
        </li>
    </ul>
}
else
{
    <ul class="navbar-nav navbar-right">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Auth" asp-action="Login">Log in</a>
        </li>
    </ul>
}